# .gitignore
.env
Running_Application/app/__pycache__/wsgi.cpython-312.pyc
Running_Application/app/__pycache__/views.cpython-312.pyc
Running_Application/app/__pycache__/urls.cpython-312.pyc
Running_Application/app/__pycache__/settings.cpython-312.pyc
Running_Application/app/__pycache__/models.cpython-312.pyc
Running_Application/app/__pycache__/forms.cpython-312.pyc
Running_Application/app/__pycache__/__init__.cpython-312.pyc
