{% extends "base.html" %}
{% block content %}
{% if team_members %}
<h2>Team Roster</h2>
<table>
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    {% for athlete in team_members %}
    <tr>
      <td>{{ athlete.last_name }}</td>
      <td>{{ athlete.first_name }}</td>
      <td>{{ athlete.gender }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No Team Found.</p>
{% endif %}

<a href="" class="add-athlete"><i data-lucide="plus-circle"></i> Add New Athlete</a>
</div>

<script>
  lucide.createIcons();

  function toggleDarkMode() {
    document.body.classList.toggle('dark-mode');
  }
</script>
</body>

</html>
{% endblock %}